@charset "utf-8";
/* CSS Document */

body {
	background-color: #d3d3d3;
}

.footer1 {
	background-color: #323534;
	color: #FFFFFF;
	font-size: .75em;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
#footer1 a:link {
	color: #d3d3d3;
	text-decoration: none;
}
#footer1 a:visited {
	color: #ffff00;
}
#footer1 a:hover {
	color: #4239fd;
}
.content {
	margin: auto;
	max-width: 992px;
}

.container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 28px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 18px;
}

nav a:hover {
  color: lightgrey;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #7381C4;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.logo {
  float: left;
  padding: 10px 10px;
}


header {
		border-bottom: medium;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-width: 5px;
}

header img {
	border-top-style: inherit;
	border-top-width: thin;
	border-width: 5px;
	
}