@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	background-color: lightgray;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"

	
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #3E558A;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 10px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 28px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 18px;
}

nav a:hover {
  color: lightgrey;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #7381C4;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

header {
		border-bottom: medium;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-width: 5px;
}

header img {
	border-top-style: inherit;
	border-top-width: thin;
	border-width: 5px;
	
}
